## Data Cleaning

In [32]:
import pandas as pd
import os 
import re

In [3]:
#os.chdir("..")

In [31]:
fields = ["Name", "Gender", "Age", "Nationality", "Years_Active", "Genre/Niche", "Beauty_Level", "Skills", "Education", "Award_Wins",
          "Media_Mentions","Social_Media_Followers", "Social_Media_Likes", "Network_Size", "MBTI", "Income", "Short_Story"]
data = pd.read_csv("data/raw/chatgpt_data.csv")
data.head()

,Name,Gender,Age,Nationality,Years_Active,Genre_Niche,Beauty_Level,Skills,Education,Award_Wins,Media_Mentions,Social_Media_Followers,Social_Media_Likes,Network_Size,MBTI_Personality,Income_Per_Year
0,Ava Johnson,Female,32,American,7,Lifestyle,8,"Fashion, Photography, Public Speaking",Bachelor's Degree in Marketing,3.0,500.0,1000000.0,50000.0,5.0,ENFJ,"$200,000"
1,Jackson Lee,Male,28,British,5,Fitness,7,"Personal Training, Nutrition, Motivational Spe...",High School Diploma,2.0,300.0,800000.0,40000.0,4.0,ISTP,"$150,000"
2,Sophie Garcia,Female,35,Spanish,8,Beauty & Makeup,9,"Makeup Artistry, Skincare, Content Creation",Master's Degree in Cosmetology,5.0,600.0,1200000.0,70000.0,6.0,INFJ,"$300,000"
3,Ryan Patel,Male,30,Indian,6,Food & Cooking,6,"Culinary Skills, Recipe Development, Food Phot...",Culinary School,3.0,400.0,900000.0,45000.0,5.0,ESTP,"$180,000"
4,Emma Chen,Female,25,Chinese,4,Travel & Adventure,7,"Photography, Writing, Adventure Sports",Bachelor's Degree in Journalism,2.0,250.0,600000.0,35000.0,4.0,ENFP,"$120,000"

### 1. Edit Names

In [43]:
def first_name(x):
    if ' ' in x["Name"]:
        sp = x["Name"].rfind(" ")
        return x["Name"][0:sp]

def last_name(x):
    if ' ' in x["Name"]:
        sp = x["Name"].rfind(" ")
        return x["Name"][sp:]

data["First_Name"] = data.apply(first_name, axis = 1)
data["Last_Name"] = data.apply(last_name, axis = 1)

data

,Name,Gender,Age,Nationality,Years_Active,Genre_Niche,Beauty_Level,Skills,Education,Award_Wins,Media_Mentions,Social_Media_Followers,Social_Media_Likes,Network_Size,MBTI_Personality,Income_Per_Year,First_Name,Last_Name
0,Ava Johnson,Female,32,American,7,Lifestyle,8,"Fashion, Photography, Public Speaking",Bachelor's Degree in Marketing,3.0,500.0,1000000.0,50000.0,5.0,ENFJ,"$200,000",Ava,Johnson
1,Jackson Lee,Male,28,British,5,Fitness,7,"Personal Training, Nutrition, Motivational Spe...",High School Diploma,2.0,300.0,800000.0,40000.0,4.0,ISTP,"$150,000",Jackson,Lee
2,Sophie Garcia,Female,35,Spanish,8,Beauty & Makeup,9,"Makeup Artistry, Skincare, Content Creation",Master's Degree in Cosmetology,5.0,600.0,1200000.0,70000.0,6.0,INFJ,"$300,000",Sophie,Garcia
3,Ryan Patel,Male,30,Indian,6,Food & Cooking,6,"Culinary Skills, Recipe Development, Food Phot...",Culinary School,3.0,400.0,900000.0,45000.0,5.0,ESTP,"$180,000",Ryan,Patel
4,Emma Chen,Female,25,Chinese,4,Travel & Adventure,7,"Photography, Writing, Adventure Sports",Bachelor's Degree in Journalism,2.0,250.0,600000.0,35000.0,4.0,ENFP,"$120,000",Emma,Chen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,Aditya Sharma,Male,31,Indian,8,Technology & Innovation,9,"Data Science, AI, Software Development",Master's Degree in Computer Engineering,4.0,500.0,1000000.0,50000.0,5.0,INTP,"$240,000",Aditya,Sharma
846,Hannah White,Female,30,American,9,Fitness & Wellness,9,"Personal Training, Yoga Instruction, Nutrition...",Bachelor's Degree in Exercise Science,3.0,400.0,900000.0,45000.0,4.0,ISTJ,"$210,000",Hannah,White
847,Evan Thompson,Male,28,Australian,7,Fashion & Beauty,7,"Fashion Design, Makeup Artistry, Fashion Blogging",Bachelor's Degree in Fashion Design,2.0,320.0,750000.0,38000.0,4.0,ENFP,"$180,000",Evan,Thompson
848,Nina Patel,Female,33,Indian,9,Technology & Innovation,9,"Data Science, AI, Software Development",Master's Degree in Computer Engineering,4.0,500.0,1000000.0,50000.0,5.0,INTP,"$240,000",Nina,Patel
849,Gabriel Martinez,Male,32,Mexican,8,Travel & Adventure,9,"Travel Blogging, Photography, Adventure Sports",Bachelor's Degree in Journalism,3.0,450.0,950000.0,47000.0,4.0,ENTP,"$220,000",Gabriel,Martinez

### 2. Fix Income

In [48]:
def remove_extra(x):
    val = str(x["Income_Per_Year"])
    if "," in val:
        loc = val.rfind(",")
        first = val[1:loc]
        last = val[loc+1:]
        return int(first+last)

data["Income_Per_Year"] = data.apply(remove_extra, axis = 1)
data

,Name,Gender,Age,Nationality,Years_Active,Genre_Niche,Beauty_Level,Skills,Education,Award_Wins,Media_Mentions,Social_Media_Followers,Social_Media_Likes,Network_Size,MBTI_Personality,Income_Per_Year,First_Name,Last_Name,Income
0,Ava Johnson,Female,32,American,7,Lifestyle,8,"Fashion, Photography, Public Speaking",Bachelor's Degree in Marketing,3.0,500.0,1000000.0,50000.0,5.0,ENFJ,200000.0,Ava,Johnson,Ava
1,Jackson Lee,Male,28,British,5,Fitness,7,"Personal Training, Nutrition, Motivational Spe...",High School Diploma,2.0,300.0,800000.0,40000.0,4.0,ISTP,150000.0,Jackson,Lee,Jackson
2,Sophie Garcia,Female,35,Spanish,8,Beauty & Makeup,9,"Makeup Artistry, Skincare, Content Creation",Master's Degree in Cosmetology,5.0,600.0,1200000.0,70000.0,6.0,INFJ,300000.0,Sophie,Garcia,Sophie
3,Ryan Patel,Male,30,Indian,6,Food & Cooking,6,"Culinary Skills, Recipe Development, Food Phot...",Culinary School,3.0,400.0,900000.0,45000.0,5.0,ESTP,180000.0,Ryan,Patel,Ryan
4,Emma Chen,Female,25,Chinese,4,Travel & Adventure,7,"Photography, Writing, Adventure Sports",Bachelor's Degree in Journalism,2.0,250.0,600000.0,35000.0,4.0,ENFP,120000.0,Emma,Chen,Emma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,Aditya Sharma,Male,31,Indian,8,Technology & Innovation,9,"Data Science, AI, Software Development",Master's Degree in Computer Engineering,4.0,500.0,1000000.0,50000.0,5.0,INTP,240000.0,Aditya,Sharma,Aditya
846,Hannah White,Female,30,American,9,Fitness & Wellness,9,"Personal Training, Yoga Instruction, Nutrition...",Bachelor's Degree in Exercise Science,3.0,400.0,900000.0,45000.0,4.0,ISTJ,210000.0,Hannah,White,Hannah
847,Evan Thompson,Male,28,Australian,7,Fashion & Beauty,7,"Fashion Design, Makeup Artistry, Fashion Blogging",Bachelor's Degree in Fashion Design,2.0,320.0,750000.0,38000.0,4.0,ENFP,180000.0,Evan,Thompson,Evan
848,Nina Patel,Female,33,Indian,9,Technology & Innovation,9,"Data Science, AI, Software Development",Master's Degree in Computer Engineering,4.0,500.0,1000000.0,50000.0,5.0,INTP,240000.0,Nina,Patel,Nina
849,Gabriel Martinez,Male,32,Mexican,8,Travel & Adventure,9,"Travel Blogging, Photography, Adventure Sports",Bachelor's Degree in Journalism,3.0,450.0,950000.0,47000.0,4.0,ENTP,220000.0,Gabriel,Martinez,Gabriel