# Linear Regression Model

#### 0. Split
#### 1. Normalize
#### 2. Train
#### 3. Predict
#### 4. Analyze

### Imports

In [29]:
import pandas as pd
import os
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
import seaborn as sns

In [30]:
os.getcwd()

'/Users/sophiacolonello/Desktop/school/junior year/second semester/data3000-adv-ds/chatgpt-influencer/data/processed'

In [31]:
os.chdir(path="/Users/sophiacolonello/Desktop/school/junior year/second semester/data3000-adv-ds/chatgpt-influencer/data/processed")
data = pd.read_csv("chatgpt_data_final.csv")
data.head()

,Unnamed: 0.1,Unnamed: 0,Name,Age,Years_Active,Beauty_Level,Award_Wins,Media_Mentions,Social_Media_Followers,Social_Media_Likes,...,Health,Beauty,Tech,Bachelor's,Culinary School,High School Diploma,Master's,Self-Taught,Introvert,Extrovert
0,0,0,Ava Johnson,32,7,8,3.0,500.0,1000000.0,50000.0,...,1,0,0,1,0,0,0,0,0,1
1,1,1,Jackson Lee,28,5,7,2.0,300.0,800000.0,40000.0,...,1,0,0,0,0,1,0,0,1,0
2,2,2,Sophie Garcia,35,8,9,5.0,600.0,1200000.0,70000.0,...,0,1,0,0,0,0,1,0,1,0
3,3,3,Ryan Patel,30,6,6,3.0,400.0,900000.0,45000.0,...,0,0,0,0,1,0,0,0,0,1
4,4,4,Emma Chen,25,4,7,2.0,250.0,600000.0,35000.0,...,0,0,0,1,0,0,0,0,0,1

In [32]:
data.shape

(607, 35)

In [33]:
data.dropna()
data.head()

,Unnamed: 0.1,Unnamed: 0,Name,Age,Years_Active,Beauty_Level,Award_Wins,Media_Mentions,Social_Media_Followers,Social_Media_Likes,...,Health,Beauty,Tech,Bachelor's,Culinary School,High School Diploma,Master's,Self-Taught,Introvert,Extrovert
0,0,0,Ava Johnson,32,7,8,3.0,500.0,1000000.0,50000.0,...,1,0,0,1,0,0,0,0,0,1
1,1,1,Jackson Lee,28,5,7,2.0,300.0,800000.0,40000.0,...,1,0,0,0,0,1,0,0,1,0
2,2,2,Sophie Garcia,35,8,9,5.0,600.0,1200000.0,70000.0,...,0,1,0,0,0,0,1,0,1,0
3,3,3,Ryan Patel,30,6,6,3.0,400.0,900000.0,45000.0,...,0,0,0,0,1,0,0,0,0,1
4,4,4,Emma Chen,25,4,7,2.0,250.0,600000.0,35000.0,...,0,0,0,1,0,0,0,0,0,1

### 0. Split

In [34]:
# Concentrate Features and Labels

# what do we not want (dropping MBTI for now lol)
ew = ['Unnamed: 0.1', 'Unnamed: 0','Name','Income_Per_Year', 'First_Name','Last_Name']
target = data['Income_Per_Year']
features = data.drop(ew, axis=1)

In [35]:
features.head()

,Age,Years_Active,Beauty_Level,Award_Wins,Media_Mentions,Social_Media_Followers,Social_Media_Likes,Network_Size,Female,Male,...,Health,Beauty,Tech,Bachelor's,Culinary School,High School Diploma,Master's,Self-Taught,Introvert,Extrovert
0,32,7,8,3.0,500.0,1000000.0,50000.0,5.0,1,0,...,1,0,0,1,0,0,0,0,0,1
1,28,5,7,2.0,300.0,800000.0,40000.0,4.0,0,1,...,1,0,0,0,0,1,0,0,1,0
2,35,8,9,5.0,600.0,1200000.0,70000.0,6.0,1,0,...,0,1,0,0,0,0,1,0,1,0
3,30,6,6,3.0,400.0,900000.0,45000.0,5.0,0,1,...,0,0,0,0,1,0,0,0,0,1
4,25,4,7,2.0,250.0,600000.0,35000.0,4.0,1,0,...,0,0,0,1,0,0,0,0,0,1

In [36]:
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=104, test_size=0.30)

### 1. Normalize

In [37]:
#X_train = X_train.apply(lambda iterator: ((iterator - iterator.mean())/iterator.std()).round(2))
#X_train.head()

In [38]:
X_train = X_train.dropna()

In [39]:
X_train = np.array(X_train)
y_train = np.array(y_train)

In [42]:
model = LinearRegression().fit(X_train, y_train)
r2 = model.score(X_train, y_train)
print(r2)

0.8749035843117501

### 3. Predict

In [44]:
X_test = np.array(X_test)
y_test = np.array(y_test)

In [45]:
predictions = model.predict(X_test)
r2 = r2_score(predictions, y_test)
print(r2)

0.837686105174352

### 4. Analyze

In [62]:
print(model.intercept_)
list(zip(features, model.coef_))
data = pd.DataFrame(list(zip(features, model.coef_)))

-19914.553107720887

In [46]:
print(mean_absolute_error(y_test, predictions))

10265.422521996268

In [64]:
os.chdir(path = "/Users/sophiacolonello/Desktop/school/junior year/second semester/data3000-adv-ds/chatgpt-influencer")
data.to_csv("data/processed/coefficents.csv")